<div class="container d-flex align-items-center justify-content-center my-5">
    <div class="form-container">
      <form (submit)="onSubmit()">
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" [(ngModel)]="utilisateur.email" required class="form-control">
        </div>
        <div class="form-group">
          <label for="motdepasse">Mot de Passe:</label>
          <input type="password" id="motdepasse" name="motdepasse" [(ngModel)]="utilisateur.motdepasse" required class="form-control">
        </div><br>
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-primary">Entrer</button>
        </div>
        <div class="form-group" *ngIf="msg">
          <div [ngClass]="{'alert alert-danger': msg.includes('Erreur'), 'alert alert-success': !msg.includes('Erreur')}">
            {{ msg }}
          </div>
        </div>
      </form>
    </div>
  </div>
  