<div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div *ngIf="livre" class="mb-4">
          <h2 class="mb-3">{{ livre.image }}</h2>
          <p>Author: {{ livre.auteur }}</p>
          <p>Synopsis: {{ livre.description }}</p>
          <strong>Prix:</strong> {{ livre.prixQuantite.prix | currency }}<br>
          <strong>Quantité disponible:</strong> {{ livre.prixQuantite.quantite }}
        </div>
        <div class="d-flex justify-content-between mb-3"> 
          <a routerLink="/livres" class="btn btn-secondary">Retourner</a>
          <a class="btn btn-primary" (click)="addToCart()">Ajouter au panier</a>
        </div>
      </div>
    </div>
  </div>
  